h4 {
  margin: 0;
}
.container {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(2, 0, 47);
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  padding: 50px;
  border: none;
  background-color: #f94a56;
  border-radius: 5px;
  opacity: 0.9;
  cursor: pointer;
}

.appTitle {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.header {
  padding: 5px 5px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress {
  display: flex;
  margin: 0px 20px;
  justify-content: center;
}

.leaderboard {
  display: grid;
  grid-template-rows: 100px 1fr;
}

.progress-wrapper {
  display: flex;
  align-items: center;
}

.progress-outer {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  border: 4px solid #f8f9fa;
  transition: border-color 0.5s;
}

.progress-outer.active {
  border-color: #98edc4;
}

.progress-inner {
  margin: 4px;
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background-color: #f8f9fa;
  transition: background-color 0.5s;
}

.progress-inner.active, .progress-bar.active {
  background-color: #98edc4;
}

.progress-bar {
  background: #f8f9fa;
  height: 4px;
  transition: background 0.5s;
}

.progress-bar.partial {
  background: linear-gradient(90deg, rgba(152,237,196,1) 0%, rgba(248,249,250,1) 87%);
}

.countdown-wrapper {
  width: 240px;
  display: flex;
  justify-content: flex-end;
}

.countdown {
  border-radius: 5px;
  font-size: 2.8rem;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  padding: 1% 0px;
  width: 100%;
  text-align: center;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.campus-card {
  display: grid;
  grid-template-rows: 40px 1fr;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  max-width: 94vw;
  min-width: fit-content;
  margin: 1em;
}

.campus-header {
  background-color: rgb(82, 71, 234);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.campus-body {
  background-color: #f8f9fa;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper {
  margin: 1em;
  height: auto;
  min-height: 140px;
  width: auto;
  min-width: 140px;
}

.team-card {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
  padding: 1.2% 1.2em;
  display: flex;
  max-width: 12vw;
  min-width: 140px;
  max-height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  left: auto;
  top: auto;
  transition: transform 0.7s;
  border-radius: 3px;
  background-color: #f8f9fa;
}

.team-card.winner {
  border: 3px solid #F8B64C;
}

.team-count {
  margin: 0;
  font-weight: bold;
  font-size: 2rem;
}

.avatar {
  height: 24px;
  width: 24px;
  border-radius: 50px;
  box-sizing: border-box;
  margin: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}

.content-container {
  display: flex;
  justify-content: center;
}

.winner-banner {
  position: absolute;
  top: -2.3em;
  left: 2px;
  font-size: 1.2em;
  color: #F8B64C;
}
.winner-badge {
  height: 50px;
  width: 50px;
  position: absolute;
  right: -20px;
  top: -20px;
  transform: rotate(20deg);
}

.pending-banner {
  color: white;
  font-size: 4rem;
}

.team-card.winner {
  border: 3px solid #F8B64C;
}

.team-card.winner.new {
  position: absolute;
  transform: scale(2.6);
  left: 40vw;
  top: 30vh;
  z-index: 100;
  background-color: #f8f9fa;
}

.team-card.cheater {
  border: 3px solid #f94a56;
  background-color: rgba(249, 74, 86, 0.3);
}

.team-card.leader {
  border: 3px solid #98edc4;
  background-color: rgba(152, 237, 196, 0.3);
}

.team-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exercise-wrapper {
  text-align: center;
  font-weight: 600;
}

.anchor {
  height: 100vh;
  width: 0px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  transition: width 2s;
  background-color: rgb(2, 0, 47);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.anchor.open {
  height: 100vh;
  width: 100vw;
}

.alarm {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.alarm-icon {
  height: 25vh;
  width: 25vh;
}

.alarm-banner {
  color: rgb(2, 0, 47);
  font-size: 3rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
